__pycache__
text_matcher.egg-info
dist/
algorithm-testing/jstor-middlemarch-articles.json
preprocessing/test_pdf.pdf
algorithm-testing/jstor-gender-trouble-all-articles.jsonl
preprocessing/test_english.pdf
preprocessing/test_french.pdf